<div class="space">
  <div class="row">
    <div class="col-md-6 offset-md-1">
      <table class="table table-border">
        <tr *ngFor="let row of maze.mazeRowCollection; let r =  index">
          <td *ngFor="let cell of row.mazeRow; let c = index" [class.hide]="!complete && !cell.reveled"
            [class.solid]="(cell.reveled || complete) && cell.solid " (click)="reveal(r,c)" class="cell">
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <strong>Instructions:-</strong>
      <ul>
        <li>
          The idea is to get from the starting square (already revealed for you) to the bottom of the grid, in the
          shortest amount of reveals.
        </li>
        <li>
          You can only reveal squares North, South, West or East of any revealed square.
        </li>
        <li>
          Any revealed squares that are solid, will count against you
        </li>
        <li>
          You can also give up! by hitting the 'Solve Me' button
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11 offset-md-1">
      <div *ngIf="complete">
        <span *ngIf="!gaveUp">
          Well Done you completed with only {{badMoves}} bad moves!
        </span>
        <span *ngIf="gaveUp">
          Never Mind, refresh the page to try again
        </span>
      </div>
      <div *ngIf="!complete" id="control">
        <button class="btn btn-danger" (click)="iGiveUp()">Solve Me!</button>
        <br>
        <br>
        Bad Moves so far: {{badMoves}}
      </div>
    </div>
  </div>
</div>
