table{
  width: 50%;
}

.hide{
  background-color: gray;
}

.solid{
  background-color: greenyellow;
}

.cell {
  height: 40px !important;
  width: 40px  !important;
  border: 1px solid black;
}

.space{
  margin-top: 20px;
}
